<div id="simpleToast" class="toast align-items-center position-fixed bottom-0 end-0 p-3 z-3"
     role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div id="simpleToastBody" class="toast-body"></div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
<script>
    function showSimpleToast(innerHTML, timeout = 5000) {
        document.getElementById('simpleToastBody').innerHTML = innerHTML;
        const toast = bootstrap.Toast.getOrCreateInstance(document.getElementById('simpleToast'));
        toast.show();
        setTimeout(() => toast.hide(), timeout);
    }
</script>